*{
  margin:0;
  margin-left: 0;
  padding-left: 0;
  padding: 0;
  text-decoration: none;
}

#root{
  display:flex;
flex-direction: row;  

}

main{
  width:100%;
 padding:20px;
}
.container,.col,.routes{
/* display:flex; */
display:flex;
flex-direction: row;
flex-wrap: wrap;

}
.sidebar{

  width:100%;
  height:100vh;
  display:inline-block;
  background-color:rgb(60, 97, 97);
  /* width:10vh; */
  /* grid-template-columns: 1fr 1fr 1fr; */
  vertical-align: top;
}
.top-section{
  display: flex;
  align-items: center;
  padding:20px 15px
}
.MuiCard-root{
  background-color: aqua;
  border-radius: 25px !important;
  margin-top: 10px;
  

}
.link{
  display: flex;
  color: black;
  font-size:25px;
  padding: 10px 15px;
  gap:15px;
  background-color: blanchedalmond;
  padding-top: 10px;
  margin-top: 10px;
  transition: all 0.5s;

}
.link:hover{
  background-color: blueviolet;
  color: aquamarine;
  transition: all 0.5s;
}
.text,.icon{
  font-size: 30px;
  text-decoration: none;
}
.routes{
  display: inline;

}
.home{
  background-image:url("https://tse1.mm.bing.net/th?id=OIP.M9AsZ7Sm6Qq-LXpY92Tt2AHaEK&pid=Api&rs=1&c=1&qlt=95&w=211&h=118");
width:100vh;
height:100vh;
/* background-repeat: no-repeat; */
background-size:contain;
opacity: 0.6;

}
